@import "tailwindcss";

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* کلاس مخصوص متن‌های انگلیسی */
.font-en {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.02em;
}
html, body {
  background: radial-gradient(circle at 20% 20%, #050010, #090018, #000);
  color: #e5f4ff;
  font-family: 'Vazirmatn', sans-serif;
  min-height: 100vh;
}

/* رنگ‌های نئونی هماهنگ */
.text-neon-blue {
  color: #00bfff;
}
.text-neon-cyan {
  color: #4af1f2;
}
.text-neon-pink {
  color: #ff66cc;
}

/* افکت درخشش عمومی */
.glow {
  text-shadow: 0 0 10px rgba(0, 191, 255, 0.8),
               0 0 20px rgba(0, 191, 255, 0.5);
}

/* فاصله دادن از هدر */
.main-wrapper {
  padding-top: 6rem; /* باعث می‌شه جدول پایین‌تر بیاد */
}

/* جدول نئونی */
.bg-dark-gradient {
  background: linear-gradient(145deg, #0d1724, #0a0f1f);
}